<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs')%>

        <div class="about content">
            <h2>All blogs</h2>
            <p>
                It,s a blog website. Share your moments of joy, excitement and
                experience with others. Write about those moments you want to
                share with people.
            </p>
            <p>
                Explore different blogs on several topics. a varity of blogs
                which can add values to your knowledge. This is the site for you
                if you love reading stories of people exploring new things.
            </p>
            <p>
                Lastly thanks for getting along with us. Please do read
                interesting blogs and add your own blog and share your thoughts.
            </p>
        </div>
    </body>
    <%- include('./partials/footer.ejs')%>
</html>
