<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>All blogs</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error hic
        itaque cum totam. Earum, expedita sequi. Fuga perferendis nemo harum a
        aut maiores eos, molestiae quia nam iste minus architecto aliquam sit
        quaerat saepe.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error hic
        itaque cum totam. Earum, expedita sequi. Fuga perferendis nemo harum a
        aut maiores eos, molestiae quia nam iste minus architecto aliquam sit
        quaerat saepe.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error hic
        itaque cum totam. Earum, expedita sequi. Fuga perferendis nemo harum a
        aut maiores eos, molestiae quia nam iste minus architecto aliquam sit
        quaerat saepe.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error hic
        itaque cum totam. Earum, expedita sequi. Fuga perferendis nemo harum a
        aut maiores eos, molestiae quia nam iste minus architecto aliquam sit
        quaerat saepe.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
